{
  "$schema": "https://opencode.ai/config.json",
  "permission": {
    "edit": true,
    "bash": true,
    "webfetch": true
  }
{%- if opencode_model %},
  "model": "{{ opencode_model }}"
{%- endif %}
}